.page {
  padding: 7.5rem 1rem 5rem 1rem;
  background-color: var(--color-very-dark-blue);
}

.page__app {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 572px) {
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem 5rem 2rem;
  }

  .page__app {
    max-width: 33.75rem;
  }
}